#board {
    position: relative;
    background-color: rgb(163, 218, 255);
    height: 100vh;
}

.player {
    position: absolute;
    background-color: yellowgreen;
    /* height: 20px; 
    width: 100px; */
}

.obstacle {
    position: absolute;
    background-color: maroon;
    /* height:50px; 
    width: 120px; */
}